# ==============================================================================
# DATASETS (Excluye toda la carpeta de datos y sus archivos .csv)
# ==============================================================================
dataset/

# ==============================================================================
# JUPYTER NOTEBOOKS & PYTHON
# ==============================================================================
# Archivos temporales de guardado automático de Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# ==============================================================================
# ENTORNOS VIRTUALES
# ==============================================================================
.venv/
venv/
env/
ENV/

# ==============================================================================
# SISTEMA OPERATIVO
# ==============================================================================
.DS_Store
Thumbs.db